@import 'core/settings';
@import 'core/variables';
@import 'components/buttons';

body {
	margin: 0;
	box-sizing: border-box;
}

.page {
	background: lightblue;
	height: 100vh;
	width: 100vw;
	font-family: $font-main;
	font-size: 16px;
	margin: 0;
}

.wrapper {
	margin: 0 15px;
}

/*header*/
@import 'layout/header';

/*articles*/
@import 'layout/articles';

/*reasons*/
@import 'layout/reasons';

/*footer*/
@import 'layout/footer';