<section class="articles" id="articles">
    <div class="wrapper articles__wrapper">

        <h3 class="articles__subtitle">Imsomnia tips</h3>

        <h2 class="articles__title">Looking through a window</h2>

        <p class="articles__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>

        <a class="link articles__link" href="#articles"><span class="articles__link-text">Go</span></a>

    </div>

</section>
