<footer class="footer">
    <div class="wrapper footer__wrapper">
        <div class="grid__box">
            <div class="footer__box1">
                <a class="button footer__button" href="#top">
                    <img src="assets/images/ico-arrow.svg" alt="Arrow-up">
                </a>
                
                <ul class="footer__links">
                    <li class="footer__links-item">
                        <a class="link footer__link" href="#articles">Articles</a>
                    </li>

                    <li class="footer__links-item">
                        <a class="link footer__link" href="#books">Books</a>
                    </li>

                    <li class="footer__links-item">
                        <a class="link footer__link" href="#events">Events</a>
                    </li>

                    <li class="footer__links-item">
                        <a class="link footer__link" href="#reasons">Reasons</a>
                    </li>

                    <li class="footer__links-item">
                        <a class="link footer__link"  href="#tips">Tips</a>
                    </li>
                </ul>
            </div>

            <div class="footer__box2">
                <ul class="footer__sm__links">

                    <li class="footer__sm__links-item">
                        <a class="link footer__link" href="https://twitter.com">Twitter</a>
                    </li>

                    <li class="footer__sm__links-item">
                        <a class="link footer__link" href="https://instagram.com">Instagram</a>
                    </li>

                    <li class="footer__sm__links-item">
                        <a class="link footer__link" href="https://mastodon.social/">Mastodon.social</a>
                    </li>

                </ul>
            </div>
            <div class="copy__box">
                <div class="copyright">&copy;2017</div>

                <div class="motto">We love components</div>
            </div>
        </div>
    </div>
</footer>