<header class="header" id="top">

    <div class="header__menu-button">
        <a class="header__menu-link" href="#"><img class="header__menu-image" src="assets/images/ico-menu.svg" alt="menu"></a>
    </div>

    <div class="wrapper header__wrapper">
        <div class="header__content">

            <h1 class="header__title">Anonymous Proxy</h1>

            <h2 class="header__subtitle">In hac habitasse platea dictumst.</h2>

            <a class="button header__arrow-button" href="">
                <img class="header__arrow-image" src="assets/images/ico-scroll-down.svg" alt="">
            </a>

        </div>
    </div>
</header>