<section class="reasons">
    <div class="wrapper reasons__wrapper">

        <h2 class="reasons__title">3 reasons to purchase</h2>

        <div class="reasons__container">

            <div class="reasons__box">
                <h3 class="reasons__box-title">Ut sed metus</h3>

                <p class="reasons__box-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>

            <div class="reasons__box">
                <h3 class="reasons__box-title">Ut sed metus</h3>
    
                <p class="reasons__box-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>

            <div class="reasons__box">
                <h3 class="reasons__box-title">Ut sed metus</h3>
            
                <p class="reasons__box-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>

        </div>

        <a class="reasons__link" href="#">More reasons</a>

    </div>

</section>