<section class="reasons">
    <div class="wrapper reasons__wrapper">
        <div class="reasons__container1">
            <h2 class="reasons__title">3 reasons to purchase</h2>

            <div class="reasons__container2">

                <div class="reasons__box">
                    <h3 class="reasons__box-title">Ut sed metus</h3>

                    <p class="reasons__box-text">Lorem ipsum dolor, sit amet consectetur.</p>
                </div>

                <div class="reasons__box">
                    <h3 class="reasons__box-title">Curabitur ac erat</h3>
        
                    <p class="reasons__box-text">Mauris mattis urna quis lorem molestie.</p>
                </div>

                <div class="reasons__box">
                    <h3 class="reasons__box-title">Morbi dictum</h3>
                
                    <p class="reasons__box-text">Aliquam in dolor et dolor tincidunt.</p>
                </div>

            </div>

            <a class="link reasons__link" href="#">More reasons</a>
        </div>
    </div>

</section>