<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <title>MME Evaluación 1</title>
</head>

<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>

    <main>
      <partial src="_articles.html" label="articles"></partial>

      <partial src="_reasons.html" label="reasons"></partial>

    </main>

    <partial src="_footer.html" label="footer"></partial>

  </div>
</body>
</html>