<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>MME Evaluación 1</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>

    <main>
      <partial src="_articles.html" label="articles"></partial>

      <partial src="_reasons.html" label="reasons"></partial>

    </main>

    <partial src="_footer.html" label="footer"></partial>

  </div>
</body>
</html>