.articles {
    background: $color-white;
    height: 376px;
}
.articles__subtitle {
    color: $color-lightblue;
    padding-top: 30px;
    padding-bottom: 1px;
    margin: 0;
    height: 30px;
    font-size: 14px;
    line-height: 2.14;
    text-transform: capitalize;
}
.articles__title {
    margin: 0;
    padding-bottom: 15px;
    height: 60px;
    width: 290px;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $color-black;
    text-transform: capitalize;
}
.articles__text {
    margin: 0;
    padding-bottom: 30px;
    height: 120px;
    font-family: $font-main;
    font-size: 18px;
    line-height: 1.67;
    color: $color-grey;
}

/*button*/

.articles__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 45px;
    margin: 0 0 45px 0;
    border: solid 2px $color-orange;
    border-radius: 22.5px;
    padding: 0;
    color: $color-orange;
    transition: color ease 0.1s, border ease 0.1s, transform ease-in 0.1s;
    &:hover {
        color:$color-blue;
        border: solid 2px $color-blue;
        transform: scale(1.1);
    }
}

/*tablet version*/
@media all and (min-width:768px) {
    .articles__subtitle {
        width: 216px;
        padding-bottom: 0;
    }

    .articles__title {
        padding-bottom: 30px;
        height: 45px;
        width: 690px;
        font-size: 26px;
        line-height: 1.73;
    }

    .articles__text {
        height: 60px;
        font-size: 20px;
        line-height: 1.5;
        color: $color-grey;
    }

    .articles__link {
        width: 91px;
        margin: 0 0 60px 0;
    }
}

/*desktop version*/

@media all and (min-width:1280px) {
    .articles__subtitle {
        width: 360px;
        font-size: 16px;
        line-height: 1.88;
        padding-top: 60px;
    }

    .articles__title {
        width: 730px;
        font-size: 32px;
        line-height: 1.41;
    }

    .articles__text {
        width: 730px;
    }

    .articles__link {
        width: 160px;
    }
}