.footer {
    background: #304268;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__button {
    position: absolute;
    transform: translate(0, -50%);
}

.footer__button-image {
    width: 20.6px;
    height: 24px;
    object-fit: contain;
}

.grid__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__box1 {
    width: 73px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0;
}

.footer__links {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.footer__link {
    list-style: none;
    text-transform: uppercase;
    color: $color-white;
    line-height: 1.88;
}

.footer__box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    width: 147px;
    height: 90px;
}

.footer__sm__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.copy__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    color: $color-white;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    width: 77px;
    height: 30px;
}

.motto {
    height: 30px;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    color: $color-white;
    margin-bottom: 45px;
    text-transform: lowercase;
}

.heart {
    font-family: ZapfDingbatsITC;
    color: $color-orange;
}

/*tablet version*/

@media all and (min-width:768px) {
    .grid__box {
        width: 690px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        padding: 45px 0; 
    }

    .footer__box1 {
        grid-column: 2/3;
        padding: 0;
        width: 210px;
        align-items: flex-start;
        height: 150px;
    }

    .footer__box2 {
        grid-column: 3/4;
        width: 210px;
        height: 150px;
        align-items: flex-start;
        padding: 0;
    }

    .copy__box {
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .footer__links {
        text-align: left;
    }

    .footer__sm__links {
        text-align: left;
    }

    .copy__box {
        align-items: flex-start;
    }

    .copyright {
        text-align: left;
    }
}

/*desktop version*/

@media all and (min-width:1280px) {
    .footer__wrapper {
        margin: 0 370px;
        box-sizing: border-box;
    }

    .grid__box {
        width: 540px;
        grid-template-columns: 159px 161px 159px;
    }
}