.reasons {
    background: #eff9ff;
}

.reasons__container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reasons__title {
    margin: 0;
    padding-top: 30px;
    height: 30px;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: $color-black;
    text-transform: capitalize;
}

.reasons__container2 {
    width: 184px;
    display: flex;
    flex-direction: column;
    margin: 45px 0 0 0;
}

.reasons__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reasons__box-title {
    margin: 0;
    font-family: $font-titles;
    font-size: 18px;
    color: $color-black;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
}

.reasons__box-text {
    margin: 0;
    height: 63px;
    width: 180px;
    padding: 0 0 45px 0;
    text-align: center;
    font-family: $font-main;
    font-size: 18px;
    line-height: 1.67;
    color: $color-black;
}

/*button*/

.reasons__link {
    background: $color-orange;
    border-radius: 22.5px;
    width: 184px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    transition: background-color ease 0.1s, transform ease-in 0.1s;
    &:hover {
        background-color: $color-blue;
        transform: scale(1.1);
    }
}

.reasons__link-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    text-align: center;
    color: $color-white;
    padding: 0 29.5px 0 30.5px;
}

/*tablet version*/

@media all and (min-width:768px) {
    .reasons__title {
        font-size: 26px;
        line-height: 1.73;
        height: 45px;
        width: 450px;
    }

    .reasons__container2 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .reasons__box-title {
        font-size: 24px;
        line-height: 1.25;
        width: 210px;
        height: 30px;
    }

    .reasons__box-text {
        font-size: 20px;
        line-height: 1.5;
        width: 212.3px;
        height: 68px;
        padding: 14px 0 0 0;
    }

    .reasons__link {
        width: 210px;
        margin: 60px 0;
    }
}

/*desktop version*/

@media all and (min-width:1280px) {
    .reasons__wrapper {
        margin: 0 85px;
    }

    .reasons__title {
        font-size: 32px;
        line-height: 1.41;
        width: 730px;
        padding-top: 60px;
    }

    .reasons__box-title {
        width: 350px;
    }

    .reasons__box-text {
        width: 353.8px;
    }

    .reasons__link {
        width: 255px;
    }
}